.card{
    background-color: #9eebcf;
    display: inline-block;
    border-radius: 0.5rem;
    padding: 1rem;
    margin: 0.5rem;    
    box-shadow: 4px 4px 8px 0;
    border-width: 0.25rem;
    text-align: center;
}
.card:hover{
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: 0.25s ease-out;
    
}
img{
    max-width: 100%;
    height: 200px;
    width: 200px;
}